{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ISISgram</title>
        <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        {% block stylesheets %}{% endblock %}
        <script src="{% static "js/vendor/modernizr.js" %}"></script>
    </head>
    <body>
        <div class="root">
            <header class="top-bar">
                <div class="top-bar-wrapper">
                    <div class="top-bar-left">
                        <ul class="top-bar-actions">
                            <li>
                                <a class="top-bar-home" href="/" label="Home">
                                    <i></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="logo"></h1>
                    <div class="top-bar-right">
                        <div class="top-bar-actions">
                        </div>
                    </div>
                </div>
            </header>
            <div class="main">
                <div class="wrapper">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <footer class="page-footer">
            </footer>
        </div>
    </body>
    {% block scripts %}{% endblock %}
</html>
