{% extends 'app/base.html' %}
{% load staticfiles %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
{% endblock %}
{% block content %}
    <div class="posts">
        {% for post in object_list %}
            <div class="post-wrapper">
                <div class="row">
                    <div class="small-3 columns">
                        <div class="row post-profile-info">
                            <div class="small-8 columns">
                                <p>{{ post.user.username }}</p>
                                <p>{{ post.creation_date }}</p>
                            </div>
                            <div class="small-4 columns post-profile-picture">
                                <img src="{{ MEDIA_URL }}{{ post.user.profile_picture }}" />
                            </div>
                        </div>
                    </div>
                    <div class="small-9 columns post-center">
                        <div class="post-content-wrapper">
                            <div class="post-image-wrapper">
                                <img src="{{ MEDIA_URL }}{{ post.picture }}" />
                            </div>
                            <div class="post-likes-wrapper">
                                <div class="row">
                                    <div class="small-2 columns">
                                        <a href="#" class="post-like-button">
                                            <span class="post-like-button-icon"></span>
                                        </a>
                                    </div>
                                    <div class="small-8 columns">
                                        <div class="post-like-list">
                                        </div>
                                        <div class="post-comment">
                                            <input type="text" name="post-comment-input" id="post-comment-input" placeholder="Write a comment...">
                                        </div>
                                    </div>
                                    <div class="small-2 columns">
                                        <div class="post-more-wrapper">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-comments-wrapper">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="small-12 columns">
                <p>No posts yet :(</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
