.root {
    position: relative;
    min-height: 100%;
}

.top-bar {
    position: fixed;
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #1c5380;
    border-bottom-color: rgba(4, 40, 71, .8);
    box-shadow: 0 1px 0 rgba(111, 151, 182, .5)inset,0 -1px 0
                        rgba(111, 151, 182, .2)inset,0 1px 1px
                        rgba(0, 0, 0, .2);
    background-color: #517fa4;
    background-image: url(img/top-bar-noise.png), -webkit-gradient(linear, left, top, left, bottom, from(#517fa4), to(#306088));
    background-image: url(img/top-bar-noise.png), -webkit-linear-gradient(top, #517fa4, #306088);
    background-image: url(img/top-bar-noise.png), -moz-linear-gradient(top, #517fa4, #306088);
    background-image: url(img/top-bar-noise.png), -ms-linear-gradient(top, #517fa4, #306088);
    background-image: url(img/top-bar-noise.png), -o-linear-gradient(top, #517fa4, #306088);
    background-image: url(img/top-bar-noise.png), linear-gradient(top, #517fa4, #306088);
    background-position: 50% 50%;
    z-index: 100;
}

.top-bar-wrapper {
    position: relative;
    max-width: 1024px;
    margin: 0px auto;
    height: 100%;
}

.top-bar-left {
    position: absolute;
    left: -1px;
    top: 0px;
    height: 100%;
}

.top-bar-left.top-bar-actions {
    float: left;
    display: inline;
    height: 100%;
}

.top-bar-home {
    position: relative;
    display: block;
    border-right: 1px solid #06365F;
    border-right-color: rgba(0, 0, 0, 0,1);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
    width: 44px;
    background-color: rgba(6, 54, 95, 0.35);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.15),
                inset 0 0 1px rgba(6, 54, 95, 0.4), 
                inset 1px 0 1px rgba(6, 54, 95, 0.4);
}

.top-bar-home > i {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px !important;
    background: url(img/assets.png) no-repeat 7px -73px;
    text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
    height: 44px !important;
    width: 44px !important;
}

.top-bar-wrapper > .logo {
    position: absolute;
    left: 50%;
    margin: 0px;
    margin-left: -50px;
    height: 35px;
    width: 115px;
    background: url(img/assets.png) no-repeat 0 7px;
    text-indent: -9999em;
}

.top-bar-right {
    position: absolute;
    right: 0px;
    top: 0px;
} 
.top-bar-right.top-bar-actions {
    float: right;
    display: inline;
}

.top-bar-actions {
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #5786aa;
    border-left: 1px solid #06365f;
    height: 100%;
}

.top-bar-actions > li {
    position: relative;
    float: left;
    display: inline;
    margin: 0px;
    height: 100%;
}

.main {
    padding: 0px 0px 50px;
    margin: 0px;
}

.wrapper {
    margin: 0px auto;
    padding: 0px 16px;
    position: relative;
    width: 992px;
}

.main > .wrapper {
    max-width: 1024px;
    padding: 43px 0px 52px;
}

.page-footer {
}

