.post-profile-info {
    margin: 20px 15px 0 0 !important;
}

.post-profile-info p {
    text-align: right;
    margin-bottom: 0px !important;
}

.post-profile-picture {
    padding: 0px !important;
}

.post-wrapper {
}

.post-center {
    -webkit-box-shadow: inset  1px 0 0 rgba(0, 0, 0, .05),
                        inset -1px 0 0 rgba(0, 0, 0, .05);
       -moz-box-shadow: inset  1px 0 0 rgba(0, 0, 0, .05),
                        inset -1px 0 0 rgba(0, 0, 0, .05);
            box-shadow: inset  1px 0 0 rgba(0, 0, 0, .05),
                        inset -1px 0 0 rgba(0, 0, 0, .05);
    background: #E0E1E2 url(img/post-noise.png);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
    min-width: 240px;
    max-width: 512px;
    padding: 16px 32px;
    float: left !important;
}

.post-content-wrapper {
    background: #fafafa;
    border: 1px solid silver;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, .1);
       -moz-box-shadow: 0 1px 16px rgba(0, 0, 0, .1);
            box-shadow: 0 1px 16px rgba(0, 0, 0, .1);
}

